bluemix-nodered-code
[{"id":"f9f55be4.c8fbf8","type":"ibmiot in","z":"d80c3d8d.a6b88","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"chair002","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":289,"y":175,"wires":[["22aac142.9b0b7e","c30e8da5.fca81","1ad6f297.f6706d"]]},{"id":"b3f67ee1.214e2","type":"debug","z":"d80c3d8d.a6b88","name":"","active":true,"console":"false","complete":"true","x":688,"y":92,"wires":[]},{"id":"de2499db.e6c7e8","type":"debug","z":"d80c3d8d.a6b88","name":"","active":false,"console":"false","complete":"false","x":1093,"y":244,"wires":[]},{"id":"197fba0e.c2ef46","type":"debug","z":"d80c3d8d.a6b88","name":"","active":false,"console":"false","complete":"false","x":1080,"y":485,"wires":[]},{"id":"983aa6f3.047cb8","type":"range","z":"d80c3d8d.a6b88","minin":"0","maxin":"1.0","minout":"0","maxout":"40","action":"scale","round":false,"name":"","x":720,"y":458,"wires":[["7a33a51.d34db5c"]]},{"id":"22aac142.9b0b7e","type":"cloudant out","z":"d80c3d8d.a6b88","name":"","cloudant":"","database":"seating1","service":"chair01-cloudantNoSQLDB","payonly":true,"operation":"insert","x":415,"y":271,"wires":[]},{"id":"b0d8b02e.38755","type":"cloudant in","z":"d80c3d8d.a6b88","name":"","cloudant":"","database":"seating1","service":"chair01-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":471,"y":629,"wires":[["35ffe1e6.e1fbbe","c0c14efd.3ef59"]]},{"id":"f4fd94ac.d965f8","type":"http in","z":"d80c3d8d.a6b88","name":"","url":"/seating1","method":"get","swaggerDoc":"","x":278,"y":600,"wires":[["b0d8b02e.38755"]]},{"id":"35ffe1e6.e1fbbe","type":"debug","z":"d80c3d8d.a6b88","name":"","active":true,"console":"false","complete":"false","x":763,"y":622,"wires":[]},{"id":"c0c14efd.3ef59","type":"http response","z":"d80c3d8d.a6b88","name":"","x":706,"y":544,"wires":[]},{"id":"9523bbd7.a24608","type":"range","z":"d80c3d8d.a6b88","minin":"0","maxin":"1","minout":"0","maxout":"100","action":"scale","round":false,"name":"","x":689,"y":297,"wires":[["93da8881.295c58"]]},{"id":"93da8881.295c58","type":"function","z":"d80c3d8d.a6b88","name":"","func":"global.set(\"w\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":853,"y":269,"wires":[["de2499db.e6c7e8","a5acbb66.0efd48"]]},{"id":"7a33a51.d34db5c","type":"function","z":"d80c3d8d.a6b88","name":"","func":"global.set(\"t\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":808,"y":402,"wires":[["197fba0e.c2ef46","a5acbb66.0efd48"]]},{"id":"a5acbb66.0efd48","type":"function","z":"d80c3d8d.a6b88","name":"","func":"if(global.get(\"w\") > 20 && global.get(\"t\") > 30){\n    msg.isOccupied = true;\n    global.set(\"occupied\",\"true\");\n}\nelse{\n    msg.isOccupied = false;\n    global.set(\"occupied\",\"false\");\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1075,"y":328,"wires":[[]]},{"id":"63b91d03.45a014","type":"debug","z":"d80c3d8d.a6b88","name":"","active":true,"console":"false","complete":"payload","x":1356,"y":429,"wires":[]},{"id":"c30e8da5.fca81","type":"sqldb in","z":"d80c3d8d.a6b88","service":"","query":"","params":"","name":"","x":662,"y":243,"wires":[[]]},{"id":"1ad6f297.f6706d","type":"dashDB out","z":"d80c3d8d.a6b88","service":"","table":"","name":"","x":420,"y":39,"wires":[]},{"id":"9c641587.c09528","type":"dashDB in","z":"d80c3d8d.a6b88","service":"","query":"","params":"","name":"","x":477,"y":366,"wires":[[]]}]