nodered-local
[{"id":"b7bc3f41.0e686","type":"arduino in","z":"f5e2db79.413918","name":"","pin":"1","state":"ANALOG","arduino":"9cecadd1.ddc23","x":83,"y":171,"wires":[["ef121c31.efe7e"]]},{"id":"6a183ac6.e2d844","type":"debug","z":"f5e2db79.413918","name":"","active":false,"console":"false","complete":"true","x":1453,"y":195,"wires":[]},{"id":"57a0a4ba.90eb1c","type":"ibmiot out","z":"f5e2db79.413918","authentication":"quickstart","apiKey":"","outputType":"evt","deviceId":"chair002","deviceType":"0.14.6","eventCommandType":"seating","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"quickstart","x":1232,"y":524,"wires":[]},{"id":"2199ee06.6865d2","type":"arduino in","z":"f5e2db79.413918","name":"","pin":"2","state":"ANALOG","arduino":"9cecadd1.ddc23","x":83,"y":333,"wires":[["1b063263.a86f6e"]]},{"id":"ef121c31.efe7e","type":"range","z":"f5e2db79.413918","minin":"0","maxin":"1023","minout":"0","maxout":"100","action":"scale","round":false,"name":"","x":397,"y":154,"wires":[["3be8f1dd.77b88e"]]},{"id":"1b063263.a86f6e","type":"range","z":"f5e2db79.413918","minin":"0","maxin":"1023","minout":"0","maxout":"40","action":"scale","round":false,"name":"","x":382,"y":377,"wires":[["40315bd4.983d14"]]},{"id":"3be8f1dd.77b88e","type":"function","z":"f5e2db79.413918","name":"","func":"global.set(\"w\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":571,"y":192,"wires":[["27f732b1.5c7a8e"]]},{"id":"40315bd4.983d14","type":"function","z":"f5e2db79.413918","name":"","func":"global.set(\"t\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":527,"y":306,"wires":[["27f732b1.5c7a8e"]]},{"id":"27f732b1.5c7a8e","type":"function","z":"f5e2db79.413918","name":"","func":"if(global.get(\"w\") > 20 && global.get(\"t\") > 30){\n    \n    msg.isOccupied=true;\n}\nelse{\n    msg.isOccupied=false;\n}\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":708,"y":268,"wires":[["71cb8df7.97cf64"]]},{"id":"6bc3d109.c0ab3","type":"function","z":"f5e2db79.413918","name":"controlPrint","func":"check = global.get(\"check\")\nsmartseat = global.get(\"seat\")+ \" at zone \"+global.get(\"zone\")+\", floor \"+ global.get(\"floor\")\nif(msg.isOccupied && check )\n  {\n    msg.payload= \"Your #smartseat \"+smartseat+\" is occupied!! \"\n    \n    global.set(\"check\" , false)   \n    //msg.payload = msg.payload+\"check= \"+check\n    return msg;\n   \n  }\nelse if(!msg.isOccupied && !check)\n    {msg.payload=\"Your #smartseat \"+smartseat+\" is now vacant. You may book this seat.\"\n     global.set(\"check\" , true)\n     //msg.payload =msg.payload+\"check = \"+check\n     return msg;\n     \n    }\nelse\n    return;\n","outputs":1,"noerr":0,"x":961,"y":345,"wires":[["bf052314.bb272","fb0bf73a.5d4ca8","bd887053.a3663"]]},{"id":"bf052314.bb272","type":"debug","z":"f5e2db79.413918","name":"","active":false,"console":"false","complete":"payload","x":1273,"y":391,"wires":[]},{"id":"3e47f224.598e3e","type":"function","z":"f5e2db79.413918","name":"","func":"global.set(\"check\",true);","outputs":1,"noerr":0,"x":340,"y":75,"wires":[["be864342.451a7"]]},{"id":"60dab539.0ffd7c","type":"inject","z":"f5e2db79.413918","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":104,"y":29,"wires":[["3e47f224.598e3e"]]},{"id":"be864342.451a7","type":"debug","z":"f5e2db79.413918","name":"","active":false,"console":"false","complete":"false","x":563,"y":41,"wires":[]},{"id":"99fca286.17374","type":"delay","z":"f5e2db79.413918","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"20","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":200,"y":118,"wires":[[]]},{"id":"f8c35253.1051c","type":"delay","z":"f5e2db79.413918","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"3","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1260,"y":214,"wires":[["6a183ac6.e2d844"]]},{"id":"d18e5f37.0468d","type":"twitter out","z":"f5e2db79.413918","twitter":"","name":"Tweet","x":1511,"y":76,"wires":[]},{"id":"fb0bf73a.5d4ca8","type":"function","z":"f5e2db79.413918","name":"editTweet","func":"if(msg !== null){\n    msg.payload = \"Tweeting from #smartseat at IBM IoT hackathon #bluemix #smartcampus: \"+msg.payload;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1077,"y":270,"wires":[["f8c35253.1051c"]]},{"id":"670d0cf3.c7f374","type":"arduino in","z":"f5e2db79.413918","name":"Seat","pin":"3","state":"ANALOG","arduino":"9cecadd1.ddc23","x":78,"y":456,"wires":[["6aa781f6.735cf"]]},{"id":"6aa781f6.735cf","type":"range","z":"f5e2db79.413918","minin":"0","maxin":"1023","minout":"0","maxout":"499","action":"scale","round":true,"name":"","x":340,"y":493,"wires":[["e62e6e42.2b22f"]]},{"id":"e62e6e42.2b22f","type":"function","z":"f5e2db79.413918","name":"","func":"globalSeat = msg.payload\nfloor = Math.floor(globalSeat/50) //for 10 floors\nzoneSeat = globalSeat%50 \nzone = Math.floor(zoneSeat/10)  //for 5 zones\nseat = zoneSeat%10 \nmsg.floor = floor;\nmsg.zone = zone + 1;\nmsg.seat = seat + 1;\nglobal.set(\"floor\",floor)\nglobal.set(\"zone\",msg.zone)\nglobal.set(\"seat\",msg.seat)\nreturn;","outputs":1,"noerr":0,"x":527,"y":481,"wires":[["71cb8df7.97cf64"]]},{"id":"71cb8df7.97cf64","type":"function","z":"f5e2db79.413918","name":"","func":"jsonObj = {d:{weight:global.get(\"w\"), temp:global.get(\"t\"), floor:global.get(\"floor\"), zone:global.get(\"zone\"), seat: global.get(\"seat\")}}\nmsg.iot = jsonObj\nreturn msg;","outputs":1,"noerr":0,"x":785,"y":395,"wires":[["6bc3d109.c0ab3"]]},{"id":"bd887053.a3663","type":"change","z":"f5e2db79.413918","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"iot","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":991,"y":480,"wires":[["57a0a4ba.90eb1c","3955f010.e1e12"]]},{"id":"3955f010.e1e12","type":"debug","z":"f5e2db79.413918","name":"","active":true,"console":"false","complete":"false","x":1055,"y":618,"wires":[]},{"id":"9cecadd1.ddc23","type":"arduino-board","z":"f5e2db79.413918","device":"/dev/cu.usbmodem1421"}]